  <ul class="nav nav-tab justify-content-between">

    <li class="navbar-brand" >
      {{title}} ✈
    </li>

    <div class="d-flex column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/search-form">Search</a>
    </li>
    <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/user-favorites">Favorites</a>
    </li>
    <li  *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item justify-self-end">
      <a class="nav-link" routerLink="/sign-up">Register</a>
    </li>

    <li *ngIf="isLoggedIn" class="nav-item">
      <div class="navbar-text" >  Hello, {{currentUser.userName}} </div>
    </li>
  </div>
  </ul>


<router-outlet></router-outlet>